<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>passwordreset</display-name>
    <servlet-name>passwordreset</servlet-name>
    <jsp-file>/passwordreset.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>passwordreset</servlet-name>
    <url-pattern>/passwordreset</url-pattern>
  </servlet-mapping>
</web-app>